* {
    box-sizing: border-box;
}

body {
    background-color: #415269;
}

.page-wrap {
    width:33%;
    margin: 0 auto;
}

.grid {

}

.col {
    float:left;
    border: 2px solid black;
    background-color: white;
    height: 168px;
}

.row {
}


.col-1-3 {
    width: 33.33%
}